<a href="https://colab.research.google.com/github/hhwwan/Programmers_Dev_Cource/blob/main/%EC%8B%A4%EC%8A%B5_Simple_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2023년 4월에 Google Colab의 SQLAlchemy 버전이 2.0.10으로 업그레이드되면서 이게 다른 모듈들과 충돌을 내기 시작했습니다. 이 문제 때문에 1.4.47로 다운그레이드하고 Google Colab Runtime을 재시작해주어야 합니다. 2023년 10월에 Google Colab 버전이 또 바뀌면서 다른 문제가 생겨서 ipython-sql 버전도 바꾸어야 합니다.

재설치가 끝나면 하단에 Restart runtime 버튼이 나올텐데 그걸 클릭하고 뒤부터 이어서 실행해주면 됩니다.

In [4]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49
!pip install --upgrade snowflake-connector-python
!pip install --upgrade snowflake-SQLAlchemy
!pip install boto3

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.4.49)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.17.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (75.1.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Requirement already satisfied: SQLAlchemy==1.4.49 in /usr/local/lib/python3.10/dist-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.49) (3.1.1)
Collecting snowflake-connector-python
  Downloading snowflake_connector_python-3.12.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.9/65.9 kB 2.2 MB/s eta 0:00:00
Collecting asn1crypto<2.0.0,>0.24.0 (from snowflake-connector-python)
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (1.17.1)
Requirement already satisfied: cryptography>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (43.0.3)
Requirement already satisfied: pyOpenSSL<25.0.0,>=22.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (24.2.1)
Requirement already satisfied: pyjwt<3.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (2.10.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (2024.2)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (2.32.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (24.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (2024.12.14)
Requirement already satisfied: typing_extensions<5,>=4.3 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (4.12.2)
Requirement already satisfied: filelock<4,>=3.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (3.16.1)
Collecting sortedcontainers>=2.4.0 (from snowflake-connector-python)
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python) (4.3.6)
Collecting tomlkit (from snowflake-connector-python)
  Downloading tomlkit-0.13.2-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.22)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->snowflake-connector-python) (2.3.0)
Downloading snowflake_connector_python-3.12.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.5/2.5 MB 33.2 MB/s eta 0:00:00
Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.0/105.0 kB 9.0 MB/s eta 0:00:00
Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Downloading tomlkit-0.13.2-py3-none-any.whl (37 kB)
Installing collected packages: sortedcontainers, asn1crypto, tomlkit, snowflake-connector-python
Successfully installed asn1crypto-1.5.1 snowflake-connector-python-3.12.4 sortedcontainers-2.4.0 tomlkit-0.13.2
Collecting snowflake-SQLAlchemy
  Downloading snowflake_sqlalchemy-1.7.2-py3-none-any.whl.metadata (28 kB)
Requirement already satisfied: snowflake-connector-python<4.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-SQLAlchemy) (3.12.4)
Requirement already satisfied: sqlalchemy>=1.4.19 in /usr/local/lib/python3.10/dist-packages (from snowflake-SQLAlchemy) (1.4.49)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (1.5.1)
Requirement already satisfied: cffi<2.0.0,>=1.9 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (1.17.1)
Requirement already satisfied: cryptography>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (43.0.3)
Requirement already satisfied: pyOpenSSL<25.0.0,>=22.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (24.2.1)
Requirement already satisfied: pyjwt<3.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (2.10.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (2024.2)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (2.32.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (24.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (2024.12.14)
Requirement already satisfied: typing_extensions<5,>=4.3 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (4.12.2)
Requirement already satisfied: filelock<4,>=3.5 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (3.16.1)
Requirement already satisfied: sortedcontainers>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (2.4.0)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (4.3.6)
Requirement already satisfied: tomlkit in /usr/local/lib/python3.10/dist-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (0.13.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=1.4.19->snowflake-SQLAlchemy) (3.1.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (2.22)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0->snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (2.3.0)
Downloading snowflake_sqlalchemy-1.7.2-py3-none-any.whl (69 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 69.5/69.5 kB 3.6 MB/s eta 0:00:00
Installing collected packages: snowflake-SQLAlchemy
Successfully installed snowflake-SQLAlchemy-1.7.2
Collecting boto3
  Downloading boto3-1.35.97-py3-none-any.whl.metadata (6.7 kB)
Collecting botocore<1.36.0,>=1.35.97 (from boto3)
  Downloading botocore-1.35.97-py3-none-any.whl.metadata (5.7 kB)
Collecting jmespath<2.0.0,>=0.7.1 (from boto3)
  Downloading jmespath-1.0.1-py3-none-any.whl.metadata (7.6 kB)
Collecting s3transfer<0.11.0,>=0.10.0 (from boto3)
  Downloading s3transfer-0.10.4-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.36.0,>=1.35.97->boto3) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /usr/local/lib/python3.10/dist-packages (from botocore<1.36.0,>=1.35.97->boto3) (2.3.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.36.0,>=1.35.97->boto3) (1.17.0)
Downloading boto3-1.35.97-py3-none-any.whl (139 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.2/139.2 kB 3.0 MB/s eta 0:00:00
Downloading botocore-1.35.97-py3-none-any.whl (13.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.3/13.3 MB 57.9 MB/s eta 0:00:00
Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Downloading s3transfer-0.10.4-py3-none-any.whl (83 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 83.2/83.2 kB 6.3 MB/s eta 0:00:00
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.35.97 botocore-1.35.97 jmespath-1.0.1 s3transfer-0.10.4

In [5]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

ID와 PW와 (본인스키마)를 자신의 것으로 변경

In [7]:
%sql snowflake://DHKIM:Aehdghks42@tj09597.ap-northeast-2.aws/dev?warehouse=COMPUTE_WH

In [8]:
%%sql

CREATE SCHEMA dev.donghwan

 * snowflake://DHKIM:***@tj09597.ap-northeast-2.aws/dev?warehouse=COMPUTE_WH
1 rows affected.

[('Schema DONGHWAN successfully created.',)]

In [9]:
%%sql

CREATE TABLE donghwan.name_gender (
   name varchar(32) primary key,
   gender varchar(8)
);

 * snowflake://DHKIM:***@tj09597.ap-northeast-2.aws/dev?warehouse=COMPUTE_WH
1 rows affected.

[('Table NAME_GENDER successfully created.',)]

In [13]:
%%sql

SELECT *
FROM donghwan.name_gender;

 * snowflake://DHKIM:***@tj09597.ap-northeast-2.aws/dev?warehouse=COMPUTE_WH
0 rows affected.

[]

In [42]:
import snowflake.connector

# Snowflake 함수
def get_snowflake_connection():
    conn = snowflake.connector.connect(
        user = "DHKIM",
        password = "Aehdghks42",
        account = "tj09597.ap-northeast-2.aws",
        warehouse = "COMPUTE_WH",
        database = "dev",
        schema = "donghwan"
    )
    conn.cursor().execute("ALTER SESSION SET autocommit = TRUE")
    return conn.cursor()

# ETL 함수를 하나씩 정의

In [43]:
import requests

def extract(url):
    f = requests.get(url)
    return f.text

In [44]:
def transform(text):
    lines = text.strip().split("\n")
    records = []
    for l in lines:
      (name, gender) = l.split(",") # l = "Keeyong,M" -> [ 'keeyong', 'M' ]
      records.append([name, gender])
    return records

In [45]:
def load(records):
    """
    records = [
      [ "Keeyong", "M" ],
      [ "Claire", "F" ],
      ...
    ]
    """
    # BEGIN과 END를 사용해서 SQL 결과를 트랜잭션으로 만들어주는 것이 좋음
    cur = get_snowflake_connection()
    # DELETE FROM을 먼저 수행 -> FULL REFRESH을 하는 형태
    for r in records:
        name = r[0]
        gender = r[1]
        print(name, "-", gender)
        sql = "INSERT INTO donghwan.name_gender VALUES ('{n}', '{g}')".format(n=name, g=gender)
        cur.execute(sql)

# 이제 Extract부터 함수를 하나씩 실행

In [46]:
link = "https://s3-geospatial.s3-us-west-2.amazonaws.com/name_gender.csv"

data = extract(link)

In [47]:
data

'name,gender\nAdaleigh,F\nAmryn,Unisex\nApurva,Unisex\nAryion,M\nAlixia,F\nAlyssarose,F\nArvell,M\nAibel,M\nAtiyyah,F\nAdlie,F\nAnyely,F\nAamoni,F\nAhman,M\nArlane,F\nArmoney,F\nAtzhiry,F\nAntonette,F\nAkeelah,F\nAbdikadir,M\nArinze,M\nArshaun,M\nAlexandro,M\nAyriauna,F\nAqib,M\nAlleya,F\nAavah,F\nAnesti,Unisex\nAdalaide,F\nAnalena,F\nAlaeyah,F\nAlbena,F\nAimi,F\nAdwaith,M\nArkady,M\nAstyn,Unisex\nAdelee,F\nAgata,F\nAlegna,F\nAltan,M\nAhnaleigh,F\nAlgie,Unisex\nAshanti,F\nAislyn,F\nAdaleine,F\nAnthnoy,M\nAlgernon,M\nAeryona,F\nAdrinne,F\nAddell,F\nAvril,F\nAhni,F\nAimon,M\nAdolpho,M\nAhuva,F\nAurielle,F\nAveana,F\nAliyia,F\nAlesander,M\nAdnrea,F\nAnjae,F\nAlvine,F\nAdorah,F\nAdlemi,F\nAlesi,F\nAlontae,M\nAntonny,M\nAdarah,F\nAyreanna,F\nAntyon,M\nAndia,F\nAshla,F\nAspyn,F\nAntwanett,F\nAundreia,F\nAudella,F\nAmari,Unisex\nArsha,Unisex\nAricella,F\nAdan,M\nApasra,F\nAlaysha,F\nAnderson,M\nAurelius,M\nAerial,F\nAverleigh,F\nAslean,F\nArniesha,F\nAsyana,F\nAnnjane,F\nAmabella,F\nAustinjohn,M\nArloween,F\nAlula,M\nAnemone,F\nAmorina,F\nAnureet,F\nArric,M\nAntonne,M\nAlyre,M\nAnnaise,F\n'

In [48]:
lines = transform(data)

In [49]:
len(lines)

101

In [50]:
lines[0:10]

[['name', 'gender'],
 ['Adaleigh', 'F'],
 ['Amryn', 'Unisex'],
 ['Apurva', 'Unisex'],
 ['Aryion', 'M'],
 ['Alixia', 'F'],
 ['Alyssarose', 'F'],
 ['Arvell', 'M'],
 ['Aibel', 'M'],
 ['Atiyyah', 'F']]

In [51]:
load(lines)

name - gender
Adaleigh - F
Amryn - Unisex
Apurva - Unisex
Aryion - M
Alixia - F
Alyssarose - F
Arvell - M
Aibel - M
Atiyyah - F
Adlie - F
Anyely - F
Aamoni - F
Ahman - M
Arlane - F
Armoney - F
Atzhiry - F
Antonette - F
Akeelah - F
Abdikadir - M
Arinze - M
Arshaun - M
Alexandro - M
Ayriauna - F
Aqib - M
Alleya - F
Aavah - F
Anesti - Unisex
Adalaide - F
Analena - F
Alaeyah - F
Albena - F
Aimi - F
Adwaith - M
Arkady - M
Astyn - Unisex
Adelee - F
Agata - F
Alegna - F
Altan - M
Ahnaleigh - F
Algie - Unisex
Ashanti - F
Aislyn - F
Adaleine - F
Anthnoy - M
Algernon - M
Aeryona - F
Adrinne - F
Addell - F
Avril - F
Ahni - F
Aimon - M
Adolpho - M
Ahuva - F
Aurielle - F
Aveana - F
Aliyia - F
Alesander - M
Adnrea - F
Anjae - F
Alvine - F
Adorah - F
Adlemi - F
Alesi - F
Alontae - M
Antonny - M
Adarah - F
Ayreanna - F
Antyon - M
Andia - F
Ashla - F
Aspyn - F
Antwanett - F
Aundreia - F
Audella - F
Amari - Unisex
Arsha - Unisex
Aricella - F
Adan - M
Apasra - F
Alaysha - F
Anderson - M
Aurelius - M
Aerial - F
Averleigh - F
Aslean - F
Arniesha - F
Asyana - F
Annjane - F
Amabella - F
Austinjohn - M
Arloween - F
Alula - M
Anemone - F
Amorina - F
Anureet - F
Arric - M
Antonne - M
Alyre - M
Annaise - F

In [52]:
%%sql

SELECT COUNT(1)
FROM donghwan.name_gender;

 * snowflake://DHKIM:***@tj09597.ap-northeast-2.aws/dev?warehouse=COMPUTE_WH
1 rows affected.

[(101,)]

In [53]:
%%sql

SELECT *
FROM donghwan.name_gender;

 * snowflake://DHKIM:***@tj09597.ap-northeast-2.aws/dev?warehouse=COMPUTE_WH
101 rows affected.

[('name', 'gender'),
 ('Adaleigh', 'F'),
 ('Amryn', 'Unisex'),
 ('Apurva', 'Unisex'),
 ('Aryion', 'M'),
 ('Alixia', 'F'),
 ('Alyssarose', 'F'),
 ('Arvell', 'M'),
 ('Aibel', 'M'),
 ('Atiyyah', 'F'),
 ('Adlie', 'F'),
 ('Anyely', 'F'),
 ('Aamoni', 'F'),
 ('Ahman', 'M'),
 ('Arlane', 'F'),
 ('Armoney', 'F'),
 ('Atzhiry', 'F'),
 ('Antonette', 'F'),
 ('Akeelah', 'F'),
 ('Abdikadir', 'M'),
 ('Arinze', 'M'),
 ('Arshaun', 'M'),
 ('Alexandro', 'M'),
 ('Ayriauna', 'F'),
 ('Aqib', 'M'),
 ('Alleya', 'F'),
 ('Aavah', 'F'),
 ('Anesti', 'Unisex'),
 ('Adalaide', 'F'),
 ('Analena', 'F'),
 ('Alaeyah', 'F'),
 ('Albena', 'F'),
 ('Aimi', 'F'),
 ('Adwaith', 'M'),
 ('Arkady', 'M'),
 ('Astyn', 'Unisex'),
 ('Adelee', 'F'),
 ('Agata', 'F'),
 ('Alegna', 'F'),
 ('Altan', 'M'),
 ('Ahnaleigh', 'F'),
 ('Algie', 'Unisex'),
 ('Ashanti', 'F'),
 ('Aislyn', 'F'),
 ('Adaleine', 'F'),
 ('Anthnoy', 'M'),
 ('Algernon', 'M'),
 ('Aeryona', 'F'),
 ('Adrinne', 'F'),
 ('Addell', 'F'),
 ('Avril', 'F'),
 ('Ahni', 'F'),
 ('Aimon', 'M'),
 ('Adolpho', 'M'),
 ('Ahuva', 'F'),
 ('Aurielle', 'F'),
 ('Aveana', 'F'),
 ('Aliyia', 'F'),
 ('Alesander', 'M'),
 ('Adnrea', 'F'),
 ('Anjae', 'F'),
 ('Alvine', 'F'),
 ('Adorah', 'F'),
 ('Adlemi', 'F'),
 ('Alesi', 'F'),
 ('Alontae', 'M'),
 ('Antonny', 'M'),
 ('Adarah', 'F'),
 ('Ayreanna', 'F'),
 ('Antyon', 'M'),
 ('Andia', 'F'),
 ('Ashla', 'F'),
 ('Aspyn', 'F'),
 ('Antwanett', 'F'),
 ('Aundreia', 'F'),
 ('Audella', 'F'),
 ('Amari', 'Unisex'),
 ('Arsha', 'Unisex'),
 ('Aricella', 'F'),
 ('Adan', 'M'),
 ('Apasra', 'F'),
 ('Alaysha', 'F'),
 ('Anderson', 'M'),
 ('Aurelius', 'M'),
 ('Aerial', 'F'),
 ('Averleigh', 'F'),
 ('Aslean', 'F'),
 ('Arniesha', 'F'),
 ('Asyana', 'F'),
 ('Annjane', 'F'),
 ('Amabella', 'F'),
 ('Austinjohn', 'M'),
 ('Arloween', 'F'),
 ('Alula', 'M'),
 ('Anemone', 'F'),
 ('Amorina', 'F'),
 ('Anureet', 'F'),
 ('Arric', 'M'),
 ('Antonne', 'M'),
 ('Alyre', 'M'),
 ('Annaise', 'F')]

In [54]:
%%sql

SELECT gender, COUNT(1) count
FROM donghwan.name_gender
GROUP BY gender;

 * snowflake://DHKIM:***@tj09597.ap-northeast-2.aws/dev?warehouse=COMPUTE_WH
4 rows affected.

[('gender', 1), ('F', 65), ('Unisex', 7), ('M', 28)]