<a href="https://colab.research.google.com/github/hhwwan/Programmers_Dev_Cource/blob/main/%EC%8B%A4%EC%8A%B5_Simple_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2023년 4월에 Google Colab의 SQLAlchemy 버전이 2.0.10으로 업그레이드되면서 이게 다른 모듈들과 충돌을 내기 시작했습니다. 이 문제 때문에 1.4.47로 다운그레이드하고 Google Colab Runtime을 재시작해주어야 합니다. 2023년 10월에 Google Colab 버전이 또 바뀌면서 다른 문제가 생겨서 ipython-sql 버전도 바꾸어야 합니다.

재설치가 끝나면 하단에 Restart runtime 버튼이 나올텐데 그걸 클릭하고 뒤부터 이어서 실행해주면 됩니다.

In [1]:
!pip install ipython-sql
!pip install SQLAlchemy==1.4.49
!pip install --upgrade snowflake-connector-python
!pip install --upgrade snowflake-SQLAlchemy

Requirement already satisfied: ipython-sql in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (0.4.1)
Requirement already satisfied: ipython>=1.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: six in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.4.49)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.5.2)
Requirement already satisfied: prettytable<1 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: typing_extensions>=4.6 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (4.12.2)
Requirement already satisfied: matplotlib-inline in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.6)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.48)
Requirement already satisfied: jedi>=0.16 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.19.2)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (2.18.0)
Requirement already satisfied: stack_data in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (0.6.3)
Requirement already satisfied: exceptiongroup in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (1.2.2)
Requirement already satisfied: decorator in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (3.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.4)
Requirement already satisfied: wcwidth in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython>=1.0->ipython-sql) (0.2.13)
Requirement already satisfied: pure-eval in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from stack_data->ipython>=1.0->ipython-sql) (0.2.3)
Requirement already satisfied: executing>=1.2.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from stack_data->ipython>=1.0->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from stack_data->ipython>=1.0->ipython-sql) (3.0.0)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: SQLAlchemy==1.4.49 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from SQLAlchemy==1.4.49) (3.1.1)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: snowflake-connector-python in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (3.12.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python) (2024.8.30)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python) (3.10)
Requirement already satisfied: pyOpenSSL<25.0.0,>=22.0.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python) (24.3.0)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python) (4.3.6)
Requirement already satisfied: pyjwt<3.0.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python) (2.10.1)
Requirement already satisfied: sortedcontainers>=2.4.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python) (2.4.0)
Requirement already satisfied: cryptography>=3.1.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python) (44.0.0)
Requirement already satisfied: pytz in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python) (2024.2)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python) (3.4.0)
Requirement already satisfied: tomlkit in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python) (0.13.2)
Requirement already satisfied: requests<3.0.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python) (2.32.3)
Requirement already satisfied: packaging in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python) (24.2)
Requirement already satisfied: typing_extensions<5,>=4.3 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python) (4.12.2)
Requirement already satisfied: filelock<4,>=3.5 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python) (3.16.1)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python) (1.5.1)
Requirement already satisfied: cffi<2.0.0,>=1.9 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python) (1.17.1)
Requirement already satisfied: pycparser in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.22)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from requests<3.0.0->snowflake-connector-python) (2.2.3)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: snowflake-SQLAlchemy in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (1.7.2)
Requirement already satisfied: snowflake-connector-python<4.0.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-SQLAlchemy) (3.12.4)
Requirement already satisfied: sqlalchemy>=1.4.19 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-SQLAlchemy) (1.4.49)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (3.10)
Requirement already satisfied: cffi<2.0.0,>=1.9 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (1.17.1)
Requirement already satisfied: cryptography>=3.1.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (44.0.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (3.4.0)
Requirement already satisfied: typing_extensions<5,>=4.3 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (4.12.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (2024.8.30)
Requirement already satisfied: tomlkit in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (0.13.2)
Requirement already satisfied: filelock<4,>=3.5 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (3.16.1)
Requirement already satisfied: sortedcontainers>=2.4.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (2.4.0)
Requirement already satisfied: asn1crypto<2.0.0,>0.24.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (1.5.1)
Requirement already satisfied: requests<3.0.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (2.32.3)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (4.3.6)
Requirement already satisfied: packaging in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (24.2)
Requirement already satisfied: pyOpenSSL<25.0.0,>=22.0.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (24.3.0)
Requirement already satisfied: pytz in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (2024.2)
Requirement already satisfied: pyjwt<3.0.0 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (2.10.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=1.4.19->snowflake-SQLAlchemy) (3.1.1)
Requirement already satisfied: pycparser in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (2.22)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hwan\appdata\local\programs\python\python310\lib\site-packages (from requests<3.0.0->snowflake-connector-python<4.0.0->snowflake-SQLAlchemy) (2.2.3)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
%load_ext sql

ID와 PW와 (본인스키마)를 자신의 것으로 변경

In [4]:
%sql snowflake://DHKIM:password@account/dev?warehouse=COMPUTE_WH

In [5]:
%%sql

CREATE SCHEMA dev.donghwan

 * snowflake://DHKIM:***@tj09597.ap-northeast-2.aws/dev?warehouse=COMPUTE_WH
(snowflake.connector.errors.ProgrammingError) 002002 (42710): SQL compilation error:
Object 'DEV.DONGHWAN' already exists.
[SQL: CREATE SCHEMA dev.donghwan]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [6]:
%%sql

CREATE TABLE donghwan.name_gender (
   name varchar(32) primary key,
   gender varchar(8)
);

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [13]:
%%sql

SELECT *
FROM donghwan.name_gender;

 * snowflake://DHKIM:***@tj09597.ap-northeast-2.aws/dev?warehouse=COMPUTE_WH
0 rows affected.

[]

In [8]:
import snowflake.connector

# Snowflake 함수
def get_snowflake_connection():
    conn = snowflake.connector.connect(
        user = "DHKIM",
        password = "password",
        account = "account",
        warehouse = "COMPUTE_WH",
        database = "dev",
        schema = "donghwan"
    )
    conn.cursor().execute("ALTER SESSION SET autocommit = TRUE")
    return conn.cursor()

# ETL 함수를 하나씩 정의

In [27]:
import requests

def extract(url):
    f = requests.get(url)
    return f.text

In [28]:
def transform(text):
    lines = text.strip().split("\n")
    records = []

    # 첫 번째 줄은 헤더이므로 건너뜀
    for l in lines[1:]:
        name, gender = l.split(",")  # l = "Keeyong,M" -> ['Keeyong', 'M']
        records.append([name, gender])
    
    return records

In [29]:
def load(records):
    """
    records = [
      [ "Keeyong", "M" ],
      [ "Claire", "F" ],
      ...
    ]
    """
    schema = "donghwan"
    # BEGIN과 END를 사용해서 SQL 결과를 트랜잭션으로 만들어주는 것이 좋음
    cur = get_snowflake_connection()
    try:
      cur.execute("BEGIN;")
      cur.execute(f"DELETE FROM {schema}.name_gender;")
    # DELETE FROM을 먼저 수행 -> FULL REFRESH을 하는 형태
      for r in records:
        name, gender = r  # unpacking
        print(name, "-", gender)
        sql = f"INSERT INTO {schema}.name_gender VALUES ('{name}', '{gender}')"
        cur.execute(sql)
      cur.execute("COMMIT;")
    except Exception as error:
      print("Error occurred:", error)
      cur.execute("ROLLBACK;")  # 롤백 실행
    finally:
      cur.close()

# 이제 Extract부터 함수를 하나씩 실행

In [30]:
link = "https://s3-geospatial.s3-us-west-2.amazonaws.com/name_gender.csv"

data = extract(link)

In [31]:
data

'name,gender\nAdaleigh,F\nAmryn,Unisex\nApurva,Unisex\nAryion,M\nAlixia,F\nAlyssarose,F\nArvell,M\nAibel,M\nAtiyyah,F\nAdlie,F\nAnyely,F\nAamoni,F\nAhman,M\nArlane,F\nArmoney,F\nAtzhiry,F\nAntonette,F\nAkeelah,F\nAbdikadir,M\nArinze,M\nArshaun,M\nAlexandro,M\nAyriauna,F\nAqib,M\nAlleya,F\nAavah,F\nAnesti,Unisex\nAdalaide,F\nAnalena,F\nAlaeyah,F\nAlbena,F\nAimi,F\nAdwaith,M\nArkady,M\nAstyn,Unisex\nAdelee,F\nAgata,F\nAlegna,F\nAltan,M\nAhnaleigh,F\nAlgie,Unisex\nAshanti,F\nAislyn,F\nAdaleine,F\nAnthnoy,M\nAlgernon,M\nAeryona,F\nAdrinne,F\nAddell,F\nAvril,F\nAhni,F\nAimon,M\nAdolpho,M\nAhuva,F\nAurielle,F\nAveana,F\nAliyia,F\nAlesander,M\nAdnrea,F\nAnjae,F\nAlvine,F\nAdorah,F\nAdlemi,F\nAlesi,F\nAlontae,M\nAntonny,M\nAdarah,F\nAyreanna,F\nAntyon,M\nAndia,F\nAshla,F\nAspyn,F\nAntwanett,F\nAundreia,F\nAudella,F\nAmari,Unisex\nArsha,Unisex\nAricella,F\nAdan,M\nApasra,F\nAlaysha,F\nAnderson,M\nAurelius,M\nAerial,F\nAverleigh,F\nAslean,F\nArniesha,F\nAsyana,F\nAnnjane,F\nAmabella,F\nAustinjohn,M\nArloween,F\nAlula,M\nAnemone,F\nAmorina,F\nAnureet,F\nArric,M\nAntonne,M\nAlyre,M\nAnnaise,F\n'

In [32]:
lines = transform(data)

In [33]:
len(lines)

100

In [34]:
lines[0:10]

[['Adaleigh', 'F'],
 ['Amryn', 'Unisex'],
 ['Apurva', 'Unisex'],
 ['Aryion', 'M'],
 ['Alixia', 'F'],
 ['Alyssarose', 'F'],
 ['Arvell', 'M'],
 ['Aibel', 'M'],
 ['Atiyyah', 'F'],
 ['Adlie', 'F']]

In [23]:
load(lines)

Adaleigh - F
Amryn - Unisex
Apurva - Unisex
Aryion - M
Alixia - F
Alyssarose - F
Arvell - M
Aibel - M
Atiyyah - F
Adlie - F
Anyely - F
Aamoni - F
Ahman - M
Arlane - F
Armoney - F
Atzhiry - F
Antonette - F
Akeelah - F
Abdikadir - M
Arinze - M
Arshaun - M
Alexandro - M
Ayriauna - F
Aqib - M
Alleya - F
Aavah - F
Anesti - Unisex
Adalaide - F
Analena - F
Alaeyah - F
Albena - F
Aimi - F
Adwaith - M
Arkady - M
Astyn - Unisex
Adelee - F
Agata - F
Alegna - F
Altan - M
Ahnaleigh - F
Algie - Unisex
Ashanti - F
Aislyn - F
Adaleine - F
Anthnoy - M
Algernon - M
Aeryona - F
Adrinne - F
Addell - F
Avril - F
Ahni - F
Aimon - M
Adolpho - M
Ahuva - F
Aurielle - F
Aveana - F
Aliyia - F
Alesander - M
Adnrea - F
Anjae - F
Alvine - F
Adorah - F
Adlemi - F
Alesi - F
Alontae - M
Antonny - M
Adarah - F
Ayreanna - F
Antyon - M
Andia - F
Ashla - F
Aspyn - F
Antwanett - F
Aundreia - F
Audella - F
Amari - Unisex
Arsha - Unisex
Aricella - F
Adan - M
Apasra - F
Alaysha - F
Anderson - M
Aurelius - M
Aerial - F
Averleigh - F
Aslean - F
Arniesha - F
Asyana - F
Annjane - F
Amabella - F
Austinjohn - M
Arloween - F
Alula - M
Anemone - F
Amorina - F
Anureet - F
Arric - M
Antonne - M
Alyre - M
Annaise - F

In [6]:
%%sql

SELECT COUNT(1)
FROM donghwan.name_gender;

 * snowflake://DHKIM:***@tj09597.ap-northeast-2.aws/dev?warehouse=COMPUTE_WH
1 rows affected.

[(100,)]

In [7]:
%%sql

SELECT *
FROM donghwan.name_gender;

 * snowflake://DHKIM:***@tj09597.ap-northeast-2.aws/dev?warehouse=COMPUTE_WH
100 rows affected.

[('Adaleigh', 'F'),
 ('Amryn', 'Unisex'),
 ('Apurva', 'Unisex'),
 ('Aryion', 'M'),
 ('Alixia', 'F'),
 ('Alyssarose', 'F'),
 ('Arvell', 'M'),
 ('Aibel', 'M'),
 ('Atiyyah', 'F'),
 ('Adlie', 'F'),
 ('Anyely', 'F'),
 ('Aamoni', 'F'),
 ('Ahman', 'M'),
 ('Arlane', 'F'),
 ('Armoney', 'F'),
 ('Atzhiry', 'F'),
 ('Antonette', 'F'),
 ('Akeelah', 'F'),
 ('Abdikadir', 'M'),
 ('Arinze', 'M'),
 ('Arshaun', 'M'),
 ('Alexandro', 'M'),
 ('Ayriauna', 'F'),
 ('Aqib', 'M'),
 ('Alleya', 'F'),
 ('Aavah', 'F'),
 ('Anesti', 'Unisex'),
 ('Adalaide', 'F'),
 ('Analena', 'F'),
 ('Alaeyah', 'F'),
 ('Albena', 'F'),
 ('Aimi', 'F'),
 ('Adwaith', 'M'),
 ('Arkady', 'M'),
 ('Astyn', 'Unisex'),
 ('Adelee', 'F'),
 ('Agata', 'F'),
 ('Alegna', 'F'),
 ('Altan', 'M'),
 ('Ahnaleigh', 'F'),
 ('Algie', 'Unisex'),
 ('Ashanti', 'F'),
 ('Aislyn', 'F'),
 ('Adaleine', 'F'),
 ('Anthnoy', 'M'),
 ('Algernon', 'M'),
 ('Aeryona', 'F'),
 ('Adrinne', 'F'),
 ('Addell', 'F'),
 ('Avril', 'F'),
 ('Ahni', 'F'),
 ('Aimon', 'M'),
 ('Adolpho', 'M'),
 ('Ahuva', 'F'),
 ('Aurielle', 'F'),
 ('Aveana', 'F'),
 ('Aliyia', 'F'),
 ('Alesander', 'M'),
 ('Adnrea', 'F'),
 ('Anjae', 'F'),
 ('Alvine', 'F'),
 ('Adorah', 'F'),
 ('Adlemi', 'F'),
 ('Alesi', 'F'),
 ('Alontae', 'M'),
 ('Antonny', 'M'),
 ('Adarah', 'F'),
 ('Ayreanna', 'F'),
 ('Antyon', 'M'),
 ('Andia', 'F'),
 ('Ashla', 'F'),
 ('Aspyn', 'F'),
 ('Antwanett', 'F'),
 ('Aundreia', 'F'),
 ('Audella', 'F'),
 ('Amari', 'Unisex'),
 ('Arsha', 'Unisex'),
 ('Aricella', 'F'),
 ('Adan', 'M'),
 ('Apasra', 'F'),
 ('Alaysha', 'F'),
 ('Anderson', 'M'),
 ('Aurelius', 'M'),
 ('Aerial', 'F'),
 ('Averleigh', 'F'),
 ('Aslean', 'F'),
 ('Arniesha', 'F'),
 ('Asyana', 'F'),
 ('Annjane', 'F'),
 ('Amabella', 'F'),
 ('Austinjohn', 'M'),
 ('Arloween', 'F'),
 ('Alula', 'M'),
 ('Anemone', 'F'),
 ('Amorina', 'F'),
 ('Anureet', 'F'),
 ('Arric', 'M'),
 ('Antonne', 'M'),
 ('Alyre', 'M'),
 ('Annaise', 'F')]

In [8]:
%%sql

SELECT gender, COUNT(1) count
FROM donghwan.name_gender
GROUP BY gender;

 * snowflake://DHKIM:***@tj09597.ap-northeast-2.aws/dev?warehouse=COMPUTE_WH
3 rows affected.

[('F', 65), ('Unisex', 7), ('M', 28)]