<a href="https://colab.research.google.com/github/hhwwan/Programmers_Dev_Cource/blob/main/4%EC%9D%BC%EC%B0%A8_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**환경 설정**

In [10]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.4.49)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.2)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (75.1.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Requirement already satisfied: SQLAlchemy==1.4.49 in /usr/local/lib/python3.10/dist-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.49) (3.1.1)

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
# ID와 PW를 자신의 환경에 맞게 수정
%sql postgresql://ID:PW@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

## JOIN:

An SQL JOIN clause is used to combine rows from two or more tables, based on a common field between them.

왼쪽 테이블을 LEFT라고 하고 오른쪽 테이블을 RIGHT이라고 하자. JOIN의 결과는 방식에 상관없이 양쪽의 필드를 모두 가진 새로운 테이블을 만들어내게 됨. 조인의 방식에 따라 다음 두 가지가 달라짐:

1. 어떤 레코드들이 선택되는지?
2. 어떤 필드들이 채워지는지?

In [ ]:
%%sql

DROP TABLE IF EXISTS raw_data.vital;
CREATE TABLE raw_data.vital (
    UserID int,
    VitalID	int,
    Date date,
    Weight int
)
;
INSERT INTO raw_data.vital VALUES
(100,	1, '2020-01-01', 75),
(100, 3, '2020-01-02', 78),
(101, 2, '2020-01-01', 90),
(101, 4, '2020-01-02', 95);

UsageError: Cell magic `%%sql` not found.

In [ ]:
%%sql

DROP TABLE IF EXISTS raw_data.alert;
CREATE TABLE raw_data.alert (
    AlertID int,
    VitalID	int,
    AlertType varchar(32),
    Date date,
    UserID int
);
INSERT INTO raw_data.alert VALUES
 (1,	4, 'WeightIncrease', '2020-01-01', 101),
 (2, NULL, 'MissingVital', '2020-01-04', 100),
 (3, NULL, 'MissingVital', '2020-01-04', 101);

* INNER JOIN
1. 양쪽 테이블에서 매치가 되는 레코드들만 리턴함
2. 양쪽 테이블의 필드가 모두 채워진 상태로 리턴됨

In [ ]:
%%sql

SELECT * FROM raw_data.vital v
JOIN raw_data.alert a ON v.vitalid = a.vitalid;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101, 4, datetime.date(2020, 1, 2), 95, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101)]


* LEFT JOIN: 왼쪽 테이블의 레코드는 모두 리턴되며 오른쪽 테이블과 매칭이 되는 레코드들의 경우에는 오른쪽 테이블 레코드들의 컬럼들이 채워진 상태로 리턴됨. 매칭이 안되는 왼쪽 테이블 레코드들은 오른쪽 테이블에서 들어오는 필드들은 NULL로 채워짐

In [ ]:
%%sql

SELECT * FROM raw_data.vital v
LEFT JOIN raw_data.alert a ON v.vitalid = a.vitalid;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
4 rows affected.

[(100, 1, datetime.date(2020, 1, 1), 75, None, None, None, None, None),
 (100, 3, datetime.date(2020, 1, 2), 78, None, None, None, None, None),
 (101, 2, datetime.date(2020, 1, 1), 90, None, None, None, None, None),
 (101, 4, datetime.date(2020, 1, 2), 95, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101)]

* FULL JOIN (OUTER JOIN):
1. 왼쪽 테이블과 오른쪽 테이블의 모든 레코드들을 리턴함
2. 매칭되는 경우에만 양쪽 테이블들의 모든 필드들이 채워진 상태로 리턴됨

In [ ]:
%%sql

SELECT * FROM raw_data.vital v
FULL JOIN raw_data.alert a ON v.vitalid = a.vitalid;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
6 rows affected.

[(101, 4, datetime.date(2020, 1, 2), 95, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101),
 (None, None, None, None, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (None, None, None, None, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101),
 (101, 2, datetime.date(2020, 1, 1), 90, None, None, None, None, None),
 (100, 1, datetime.date(2020, 1, 1), 75, None, None, None, None, None),
 (100, 3, datetime.date(2020, 1, 2), 78, None, None, None, None, None)]

* CARTESIAN JOIN (CROSS JOIN): 조인 조건 없이 두 개 테이블의 내용을 모두 조합한 결과 레코드들을 생성

In [ ]:
%%sql

SELECT *
FROM (
    SELECT vitalid  -- 1,2,3,4
    FROM raw_data.vital
) v
CROSS JOIN (
    SELECT alertid   -- 1,2,3
    FROM raw_data.alert
) a;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
12 rows affected.

[(1, 1),
 (1, 2),
 (1, 3),
 (3, 1),
 (3, 2),
 (3, 3),
 (2, 1),
 (2, 2),
 (2, 3),
 (4, 1),
 (4, 2),
 (4, 3)]

In [ ]:
%%sql

SELECT * FROM raw_data.vital v
CROSS JOIN raw_data.alert a;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
12 rows affected.

[(100, 1, datetime.date(2020, 1, 1), 75, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101),
 (100, 3, datetime.date(2020, 1, 2), 78, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101),
 (101, 2, datetime.date(2020, 1, 1), 90, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101),
 (101, 4, datetime.date(2020, 1, 2), 95, 1, 4, 'WeightIncrease', datetime.date(2020, 1, 1), 101),
 (100, 1, datetime.date(2020, 1, 1), 75, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (100, 3, datetime.date(2020, 1, 2), 78, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (101, 2, datetime.date(2020, 1, 1), 90, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (101, 4, datetime.date(2020, 1, 2), 95, 2, None, 'MissingVital', datetime.date(2020, 1, 4), 100),
 (100, 1, datetime.date(2020, 1, 1), 75, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101),
 (100, 3, datetime.date(2020, 1, 2), 78, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101),
 (101, 2, datetime.date(2020, 1, 1), 90, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101),
 (101, 4, datetime.date(2020, 1, 2), 95, 3, None, 'MissingVital', datetime.date(2020, 1, 4), 101)]

SELF JOIN

In [ ]:
%%sql

SELECT * FROM raw_data.vital v1
JOIN raw_data.vital v2 ON v1.vitalid = v2.vitalid;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
4 rows affected.

[(100, 1, datetime.date(2020, 1, 1), 75, 100, 1, datetime.date(2020, 1, 1), 75),
 (100, 3, datetime.date(2020, 1, 2), 78, 100, 3, datetime.date(2020, 1, 2), 78),
 (101, 2, datetime.date(2020, 1, 1), 90, 101, 2, datetime.date(2020, 1, 1), 90),
 (101, 4, datetime.date(2020, 1, 2), 95, 101, 4, datetime.date(2020, 1, 2), 95)]

## Boolean과 COALESCE/NULLIF

In [13]:
%%sql

SELECT *
FROM raw_data.boolean_test;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[(True,), (False,), (True,), (None,), (False,), (True,), (False,)]

In [14]:
%%sql

SELECT
    COUNT(CASE WHEN flag = True THEN 1 END) true_cnt1,
    COUNT(CASE WHEN flag is True THEN 1 END) true_cnt2,
    COUNT(CASE WHEN flag is not False THEN 1 END) not_false_cnt
FROM raw_data.boolean_test;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(3, 3, 4)]

In [15]:
%%sql

SELECT COUNT(1)
FROM raw_data.boolean_test
WHERE flag is NULL;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(1,)]

In [16]:
%%sql

SELECT COUNT(1)
FROM raw_data.boolean_test
WHERE flag = NULL;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(0,)]

공백이 들어있는 필드이름 혹은 예약된 키워드를 필드이름으로 사용하려면?

In [18]:
%%sql

DROP TABLE IF EXISTS adhoc.donghwan_test;
CREATE TABLE adhoc.donghwan_test (
    group int primary key,
    'mailing address' varchar(32)
);

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
(psycopg2.errors.SyntaxError) syntax error at or near "group" in context ".donghwan_test (
    group", at line 2, column 5
LINE 2:     group int primary key,
            ^

[SQL: CREATE TABLE adhoc.donghwan_test (
    group int primary key,
    'mailing address' varchar(32)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [19]:
%%sql

CREATE TABLE adhoc.donghwan_test (
    "group" int primary key,
    "mailing address" varchar(32)
);

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.

[]

In [20]:
%%sql

DROP TABLE IF EXISTS adhoc.donghwan_test_null;
CREATE TABLE adhoc.donghwan_test_null (
    value int NOT NULL
);

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

In [21]:
%%sql

INSERT INTO adhoc.donghwan_test_null VALUES (NULL);

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
(psycopg2.errors.InternalError_) Cannot insert a NULL value into column value
DETAIL:
  -----------------------------------------------
  error:  Cannot insert a NULL value into column value
  code:      8007
  context:   query execution
  query:     21686935
  location:  column:1
  process:   query0_122_21686935 [pid=31375]
  -----------------------------------------------


[SQL: INSERT INTO adhoc.donghwan_test_null VALUES (NULL);]
(Background on this error at: https://sqlalche.me/e/14/2j85)

# **숙제 - 1**

**채널별 월 매출액 테이블 만들기 (adhoc 스키마 밑에 CTAS로 본인 영문 이름을 포함해서 테이블 만들기)**
1.   session_timestamp, user_session_channel, channel, session_transaction 테이블들을 사용

2.   아래와 같은 필드로 구성
    - month
    - channel
    - uniqueUsers (총방문 사용자)
    - paidUsers (구매 사용자: refund한 경우도 판매로 고려)
    - conversionRate (구매사용자 / 총방문 사용자)
    - grossRevenue (refund 포함)
    - netRevenue (refund 제외)

**1. 혹시 OUT JOIN이 필요한지, 테이별 점검 필요**

In [22]:
%%sql

select distinct sessionid from raw_data.session_timestamp
minus
select distinct sessionid from raw_data.user_session_channel
;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

In [ ]:
%%sql

select distinct sessionid from raw_data.user_session_channel
minus
select distinct sessionid from raw_data.session_timestamp
;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

In [ ]:
%%sql

select * from raw_data.session_transaction
where amount <= 0

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[('3d194d58a6470121c92f29c1ee4c936f', False, 0),
 ('50aaa83c9c2d1d1f3ebc6c732c1abc8c', False, 0),
 ('7fbfc161a3b873bf2119c788ed93d1f4', False, 0),
 ('d288a67e5fe3b80c0ccb9531e87d437a', False, 0),
 ('dfc95d616451863a4fe614534e08261c', False, 0),
 ('297b51d372955449d68d0b67ffda8c80', False, 0),
 ('52660fd5af844425740f3a7bf5151008', False, 0),
 ('99e17fbe90095024e6c982c85d43d150', False, 0),
 ('d572948a93127fa250a9aa8a122a4403', False, 0),
 ('e00747f11c12e85717de726cc6c2f188', False, 0)]

**2. Summary Table 만들기**

In [ ]:
%%sql

SELECT LEFT(ts, 7) "month",  -- "year month"
       channel,
       COUNT(DISTINCT usc.userid) uniqueUsers,
       COUNT(DISTINCT CASE WHEN amount > 0 THEN usc.userid END) paidUsers,
       ROUND(paidUsers*100.0/NULLIF(uniqueUsers, 0),2) conversionRate,
       SUM(amount) grossRevenue,
       SUM(CASE WHEN refunded is False THEN amount END) netRevenue
   FROM raw_data.user_session_channel usc
   LEFT JOIN raw_data.session_timestamp t ON t.sessionid = usc.sessionid
   LEFT JOIN raw_data.session_transaction st ON st.sessionid = usc.sessionid
   GROUP BY 1, 2
   ORDER BY 1, 2;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
42 rows affected.

[('2019-05', 'Facebook', 247, 14, Decimal('5.67'), 1199, 997),
 ('2019-05', 'Google', 253, 10, Decimal('3.95'), 580, 580),
 ('2019-05', 'Instagram', 234, 11, Decimal('4.70'), 959, 770),
 ('2019-05', 'Naver', 237, 11, Decimal('4.64'), 867, 844),
 ('2019-05', 'Organic', 238, 17, Decimal('7.14'), 1846, 1571),
 ('2019-05', 'Youtube', 244, 9, Decimal('3.69'), 529, 529),
 ('2019-06', 'Facebook', 414, 22, Decimal('5.31'), 1578, 1578),
 ('2019-06', 'Google', 412, 13, Decimal('3.16'), 947, 947),
 ('2019-06', 'Instagram', 410, 21, Decimal('5.12'), 1462, 1418),
 ('2019-06', 'Naver', 398, 15, Decimal('3.77'), 1090, 1090),
 ('2019-06', 'Organic', 416, 14, Decimal('3.37'), 1129, 940),
 ('2019-06', 'Youtube', 400, 17, Decimal('4.25'), 1042, 1042),
 ('2019-07', 'Facebook', 558, 32, Decimal('5.73'), 2222, 2144),
 ('2019-07', 'Google', 556, 21, Decimal('3.78'), 1558, 1385),
 ('2019-07', 'Instagram', 567, 24, Decimal('4.23'), 1896, 1766),
 ('2019-07', 'Naver', 553, 19, Decimal('3.44'), 1547, 1547),
 ('2019-07', 'Organic', 557, 22, Decimal('3.95'), 1600, 1600),
 ('2019-07', 'Youtube', 564, 36, Decimal('6.38'), 2210, 2037),
 ('2019-08', 'Facebook', 611, 18, Decimal('2.95'), 1009, 1009),
 ('2019-08', 'Google', 610, 27, Decimal('4.43'), 2210, 1894),
 ('2019-08', 'Instagram', 621, 28, Decimal('4.51'), 2129, 2001),
 ('2019-08', 'Naver', 626, 22, Decimal('3.51'), 1829, 1551),
 ('2019-08', 'Organic', 608, 26, Decimal('4.28'), 1643, 1606),
 ('2019-08', 'Youtube', 614, 18, Decimal('2.93'), 987, 950),
 ('2019-09', 'Facebook', 597, 27, Decimal('4.52'), 2270, 2270),
 ('2019-09', 'Google', 599, 25, Decimal('4.17'), 1872, 1691),
 ('2019-09', 'Instagram', 588, 20, Decimal('3.40'), 1260, 1122),
 ('2019-09', 'Naver', 592, 21, Decimal('3.55'), 1996, 1996),
 ('2019-09', 'Organic', 592, 22, Decimal('3.72'), 1267, 1267),
 ('2019-09', 'Youtube', 588, 15, Decimal('2.55'), 1301, 1301),
 ('2019-10', 'Facebook', 698, 29, Decimal('4.15'), 1650, 1641),
 ('2019-10', 'Google', 699, 30, Decimal('4.29'), 2150, 2098),
 ('2019-10', 'Instagram', 707, 33, Decimal('4.67'), 2568, 2395),
 ('2019-10', 'Naver', 713, 32, Decimal('4.49'), 2695, 2695),
 ('2019-10', 'Organic', 709, 31, Decimal('4.37'), 2762, 2608),
 ('2019-10', 'Youtube', 705, 34, Decimal('4.82'), 2492, 2319),
 ('2019-11', 'Facebook', 688, 25, Decimal('3.63'), 1678, 1678),
 ('2019-11', 'Google', 688, 26, Decimal('3.78'), 2286, 2235),
 ('2019-11', 'Instagram', 669, 25, Decimal('3.74'), 2116, 2116),
 ('2019-11', 'Naver', 667, 26, Decimal('3.90'), 2234, 1987),
 ('2019-11', 'Organic', 677, 34, Decimal('5.02'), 2626, 2255),
 ('2019-11', 'Youtube', 677, 45, Decimal('6.65'), 3532, 3331)]

In [ ]:
%%sql

--혹시 기존에 생성되어 있으면 삭제
DROP TABLE IF EXISTS adhoc.keeyong_monthly_channel_summary;

--Summary Table 생성
CREATE TABLE adhoc.keeyong_monthly_channel_summary
AS
SELECT TO_CHAR(ts, 'YYYY-MM') year_month,
    usc.channel,
    COUNT(DISTINCT usc.userid) unique_users,
    COUNT(DISTINCT CASE WHEN amount>0 THEN userid END) paid_users,
    ROUND(paid_users*100./NULLIF(unique_users,0),2) conversion_rate,
    SUM(amount) gross_revenue,
    SUM(CASE WHEN refunded is False THEN amount
        ELSE 0 END) net_revenue
  FROM raw_data.user_session_channel usc
  JOIN raw_data.session_timestamp st ON usc.sessionid = st.sessionid
  LEFT JOIN raw_data.session_transaction str ON usc.sessionid = str.sessionid
GROUP BY 1, 2;

--정상적으로 생성되었는지 확인
SELECT * FROM adhoc.keeyong_monthly_channel_summary;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.
42 rows affected.

[('2019-05', 'Organic', 238, 17, Decimal('7'), 1846, 1571),
 ('2019-05', 'Facebook', 247, 14, Decimal('5'), 1199, 997),
 ('2019-05', 'Instagram', 234, 11, Decimal('4'), 959, 770),
 ('2019-07', 'Facebook', 558, 32, Decimal('5'), 2222, 2144),
 ('2019-08', 'Facebook', 611, 18, Decimal('2'), 1009, 1009),
 ('2019-08', 'Google', 610, 27, Decimal('4'), 2210, 1894),
 ('2019-09', 'Facebook', 597, 27, Decimal('4'), 2270, 2270),
 ('2019-11', 'Facebook', 688, 25, Decimal('3'), 1678, 1678),
 ('2019-11', 'Naver', 667, 26, Decimal('3'), 2234, 1987),
 ('2019-06', 'Youtube', 400, 17, Decimal('4'), 1042, 1042),
 ('2019-06', 'Google', 412, 13, Decimal('3'), 947, 947),
 ('2019-06', 'Organic', 416, 14, Decimal('3'), 1129, 940),
 ('2019-07', 'Naver', 553, 19, Decimal('3'), 1547, 1547),
 ('2019-07', 'Google', 556, 21, Decimal('3'), 1558, 1385),
 ('2019-08', 'Naver', 626, 22, Decimal('3'), 1829, 1551),
 ('2019-09', 'Google', 599, 25, Decimal('4'), 1872, 1691),
 ('2019-09', 'Naver', 592, 21, Decimal('3'), 1996, 1996),
 ('2019-10', 'Google', 699, 30, Decimal('4'), 2150, 2098),
 ('2019-10', 'Facebook', 698, 29, Decimal('4'), 1650, 1641),
 ('2019-10', 'Naver', 713, 32, Decimal('4'), 2695, 2695),
 ('2019-11', 'Organic', 677, 34, Decimal('5'), 2626, 2255),
 ('2019-05', 'Google', 253, 10, Decimal('3'), 580, 580),
 ('2019-05', 'Youtube', 244, 9, Decimal('3'), 529, 529),
 ('2019-07', 'Organic', 557, 22, Decimal('3'), 1600, 1600),
 ('2019-07', 'Youtube', 564, 36, Decimal('6'), 2210, 2037),
 ('2019-08', 'Instagram', 621, 28, Decimal('4'), 2129, 2001),
 ('2019-09', 'Youtube', 588, 15, Decimal('2'), 1301, 1301),
 ('2019-10', 'Youtube', 705, 34, Decimal('4'), 2492, 2319),
 ('2019-11', 'Google', 688, 26, Decimal('3'), 2286, 2235),
 ('2019-05', 'Naver', 237, 11, Decimal('4'), 867, 844),
 ('2019-06', 'Naver', 398, 15, Decimal('3'), 1090, 1090),
 ('2019-06', 'Facebook', 414, 22, Decimal('5'), 1578, 1578),
 ('2019-06', 'Instagram', 410, 21, Decimal('5'), 1462, 1418),
 ('2019-07', 'Instagram', 567, 24, Decimal('4'), 1896, 1766),
 ('2019-08', 'Organic', 608, 26, Decimal('4'), 1643, 1606),
 ('2019-08', 'Youtube', 614, 18, Decimal('2'), 987, 950),
 ('2019-09', 'Organic', 592, 22, Decimal('3'), 1267, 1267),
 ('2019-09', 'Instagram', 588, 20, Decimal('3'), 1260, 1122),
 ('2019-10', 'Organic', 709, 31, Decimal('4'), 2762, 2608),
 ('2019-10', 'Instagram', 707, 33, Decimal('4'), 2568, 2395),
 ('2019-11', 'Youtube', 677, 45, Decimal('6'), 3532, 3331),
 ('2019-11', 'Instagram', 669, 25, Decimal('3'), 2116, 2116)]

In [ ]:
%%sql

SELECT *
FROM raw_data.count_test;

In [ ]:
%%sql

SELECT
     value,
     COALESCE(value, 0)
FROM raw_data.count_test;

In [25]:
%%sql

Select userid, ts, channel
from raw_data.user_session_channel as A
join raw_data.session_timestamp B on  A.sessionid = B.sessionid
where userid = 251;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
216 rows affected.

[(251, datetime.datetime(2019, 9, 6, 13, 29, 40, 160000), 'Instagram'),
 (251, datetime.datetime(2019, 11, 6, 13, 12, 22, 887000), 'Organic'),
 (251, datetime.datetime(2019, 5, 1, 12, 18, 26, 637000), 'Facebook'),
 (251, datetime.datetime(2019, 5, 15, 12, 39, 16, 610000), 'Organic'),
 (251, datetime.datetime(2019, 5, 27, 13, 15, 41, 573000), 'Youtube'),
 (251, datetime.datetime(2019, 7, 18, 20, 29, 57), 'Youtube'),
 (251, datetime.datetime(2019, 11, 7, 14, 13, 54, 197000), 'Organic'),
 (251, datetime.datetime(2019, 6, 5, 12, 39, 54, 320000), 'Youtube'),
 (251, datetime.datetime(2019, 7, 18, 12, 56, 43, 577000), 'Youtube'),
 (251, datetime.datetime(2019, 7, 23, 12, 47, 7, 460000), 'Naver'),
 (251, datetime.datetime(2019, 5, 13, 11, 56, 26, 650000), 'Google'),
 (251, datetime.datetime(2019, 10, 18, 14, 29, 12, 150000), 'Instagram'),
 (251, datetime.datetime(2019, 8, 3, 14, 2, 1, 400000), 'Youtube'),
 (251, datetime.datetime(2019, 8, 17, 14, 11, 54, 877000), 'Instagram'),
 (251, datetime.datetime(2019, 8, 28, 13, 4, 53, 717000), 'Youtube'),
 (251, datetime.datetime(2019, 6, 8, 12, 58, 44, 550000), 'Organic'),
 (251, datetime.datetime(2019, 6, 25, 12, 53, 30, 443000), 'Organic'),
 (251, datetime.datetime(2019, 7, 26, 19, 18, 38), 'Google'),
 (251, datetime.datetime(2019, 5, 23, 12, 31, 3, 600000), 'Instagram'),
 (251, datetime.datetime(2019, 10, 23, 20, 16, 21), 'Youtube'),
 (251, datetime.datetime(2019, 6, 26, 12, 16, 51, 993000), 'Facebook'),
 (251, datetime.datetime(2019, 7, 12, 12, 39, 45, 390000), 'Naver'),
 (251, datetime.datetime(2019, 7, 21, 12, 53, 14, 990000), 'Instagram'),
 (251, datetime.datetime(2019, 5, 4, 13, 54, 0, 610000), 'Instagram'),
 (251, datetime.datetime(2019, 5, 26, 13, 6, 16, 913000), 'Google'),
 (251, datetime.datetime(2019, 5, 7, 12, 22, 45, 713000), 'Youtube'),
 (251, datetime.datetime(2019, 7, 20, 12, 57, 48, 747000), 'Naver'),
 (251, datetime.datetime(2019, 7, 24, 16, 8, 42), 'Google'),
 (251, datetime.datetime(2019, 10, 4, 15, 31, 35, 587000), 'Youtube'),
 (251, datetime.datetime(2019, 6, 19, 12, 38, 26, 733000), 'Instagram'),
 (251, datetime.datetime(2019, 11, 14, 15, 33, 8, 933000), 'Google'),
 (251, datetime.datetime(2019, 9, 6, 18, 53, 41, 373000), 'Google'),
 (251, datetime.datetime(2019, 6, 29, 13, 42, 47, 183000), 'Google'),
 (251, datetime.datetime(2019, 9, 13, 13, 18, 58, 977000), 'Instagram'),
 (251, datetime.datetime(2019, 8, 2, 13, 32, 39, 743000), 'Naver'),
 (251, datetime.datetime(2019, 8, 11, 13, 57, 58, 377000), 'Naver'),
 (251, datetime.datetime(2019, 10, 17, 12, 35, 49, 640000), 'Google'),
 (251, datetime.datetime(2019, 5, 22, 12, 59, 50, 550000), 'Organic'),
 (251, datetime.datetime(2019, 9, 22, 14, 41, 19, 317000), 'Facebook'),
 (251, datetime.datetime(2019, 9, 3, 16, 11, 29), 'Facebook'),
 (251, datetime.datetime(2019, 10, 9, 14, 13, 5, 130000), 'Instagram'),
 (251, datetime.datetime(2019, 6, 22, 16, 4, 40), 'Naver'),
 (251, datetime.datetime(2019, 10, 29, 13, 42, 40, 357000), 'Naver'),
 (251, datetime.datetime(2019, 8, 19, 13, 24, 12, 170000), 'Youtube'),
 (251, datetime.datetime(2019, 5, 31, 12, 18, 30, 467000), 'Youtube'),
 (251, datetime.datetime(2019, 5, 19, 13, 35, 51, 503000), 'Organic'),
 (251, datetime.datetime(2019, 6, 29, 13, 43, 52, 563000), 'Google'),
 (251, datetime.datetime(2019, 8, 15, 17, 28, 48, 497000), 'Naver'),
 (251, datetime.datetime(2019, 5, 25, 12, 46, 54, 253000), 'Facebook'),
 (251, datetime.datetime(2019, 8, 22, 12, 36, 23, 127000), 'Google'),
 (251, datetime.datetime(2019, 7, 13, 13, 19, 5, 797000), 'Youtube'),
 (251, datetime.datetime(2019, 7, 20, 13, 1, 13, 857000), 'Instagram'),
 (251, datetime.datetime(2019, 7, 1, 12, 27, 32, 790000), 'Instagram'),
 (251, datetime.datetime(2019, 6, 13, 13, 31, 34, 237000), 'Organic'),
 (251, datetime.datetime(2019, 5, 21, 12, 25, 44, 910000), 'Instagram'),
 (251, datetime.datetime(2019, 7, 9, 12, 21, 37, 27000), 'Organic'),
 (251, datetime.datetime(2019, 6, 14, 13, 24, 3, 453000), 'Youtube'),
 (251, datetime.datetime(2019, 5, 14, 12, 50, 53, 303000), 'Youtube'),
 (251, datetime.datetime(2019, 9, 19, 13, 51, 55, 193000), 'Organic'),
 (251, datetime.datetime(2019, 9, 5, 12, 35, 33, 793000), 'Facebook'),
 (251, datetime.datetime(2019, 6, 15, 13, 7, 3, 207000), 'Instagram'),
 (251, datetime.datetime(2019, 10, 3, 18, 15, 4, 250000), 'Instagram'),
 (251, datetime.datetime(2019, 11, 20, 15, 41, 25), 'Google'),
 (251, datetime.datetime(2019, 6, 10, 13, 0, 17, 77000), 'Instagram'),
 (251, datetime.datetime(2019, 6, 22, 13, 21, 12, 57000), 'Naver'),
 (251, datetime.datetime(2019, 10, 14, 17, 7, 54, 133000), 'Google'),
 (251, datetime.datetime(2019, 10, 20, 14, 23, 12, 523000), 'Youtube'),
 (251, datetime.datetime(2019, 9, 23, 12, 43, 30, 643000), 'Organic'),
 (251, datetime.datetime(2019, 6, 30, 12, 45, 5, 493000), 'Organic'),
 (251, datetime.datetime(2019, 7, 30, 12, 23, 24, 593000), 'Google'),
 (251, datetime.datetime(2019, 5, 10, 14, 29, 36, 197000), 'Facebook'),
 (251, datetime.datetime(2019, 6, 11, 13, 35, 18, 527000), 'Google'),
 (251, datetime.datetime(2019, 6, 20, 12, 50, 39, 390000), 'Youtube'),
 (251, datetime.datetime(2019, 8, 26, 13, 41, 51, 137000), 'Naver'),
 (251, datetime.datetime(2019, 8, 28, 13, 2, 15, 903000), 'Naver'),
 (251, datetime.datetime(2019, 10, 29, 13, 41, 50, 303000), 'Naver'),
 (251, datetime.datetime(2019, 9, 30, 13, 30, 34, 823000), 'Naver'),
 (251, datetime.datetime(2019, 11, 19, 16, 28, 12), 'Youtube'),
 (251, datetime.datetime(2019, 11, 14, 15, 38, 15, 263000), 'Organic'),
 (251, datetime.datetime(2019, 5, 30, 12, 39, 35, 553000), 'Youtube'),
 (251, datetime.datetime(2019, 9, 27, 13, 13, 26, 970000), 'Organic'),
 (251, datetime.datetime(2019, 5, 24, 13, 15, 30, 607000), 'Naver'),
 (251, datetime.datetime(2019, 7, 1, 17, 58, 15), 'Instagram'),
 (251, datetime.datetime(2019, 9, 14, 13, 43, 47, 3000), 'Naver'),
 (251, datetime.datetime(2019, 7, 30, 15, 31, 25), 'Instagram'),
 (251, datetime.datetime(2019, 8, 6, 12, 47, 42, 17000), 'Youtube'),
 (251, datetime.datetime(2019, 7, 11, 13, 2, 33, 940000), 'Youtube'),
 (251, datetime.datetime(2019, 10, 16, 14, 1, 36, 993000), 'Instagram'),
 (251, datetime.datetime(2019, 9, 4, 12, 59, 13, 917000), 'Naver'),
 (251, datetime.datetime(2019, 6, 3, 12, 29, 39, 157000), 'Google'),
 (251, datetime.datetime(2019, 7, 25, 12, 34, 51, 103000), 'Instagram'),
 (251, datetime.datetime(2019, 6, 16, 12, 44, 44, 787000), 'Google'),
 (251, datetime.datetime(2019, 10, 30, 15, 56, 53, 263000), 'Youtube'),
 (251, datetime.datetime(2019, 8, 10, 14, 3, 46, 323000), 'Organic'),
 (251, datetime.datetime(2019, 6, 2, 15, 16, 57), 'Instagram'),
 (251, datetime.datetime(2019, 6, 10, 15, 2, 56, 180000), 'Instagram'),
 (251, datetime.datetime(2019, 8, 25, 14, 58, 40, 387000), 'Organic'),
 (251, datetime.datetime(2019, 5, 30, 17, 23, 10), 'Facebook'),
 (251, datetime.datetime(2019, 7, 18, 12, 51, 54, 643000), 'Youtube'),
 (251, datetime.datetime(2019, 5, 28, 11, 53, 17, 513000), 'Organic'),
 (251, datetime.datetime(2019, 10, 7, 13, 0, 30, 950000), 'Naver'),
 (251, datetime.datetime(2019, 8, 29, 12, 17, 3, 380000), 'Organic'),
 (251, datetime.datetime(2019, 7, 31, 13, 38, 48, 527000), 'Facebook'),
 (251, datetime.datetime(2019, 6, 26, 18, 36, 54), 'Facebook'),
 (251, datetime.datetime(2019, 10, 3, 19, 56, 38), 'Youtube'),
 (251, datetime.datetime(2019, 6, 18, 12, 33, 17, 483000), 'Instagram'),
 (251, datetime.datetime(2019, 5, 3, 13, 43, 21, 857000), 'Instagram'),
 (251, datetime.datetime(2019, 7, 25, 12, 39, 35, 593000), 'Instagram'),
 (251, datetime.datetime(2019, 9, 16, 13, 39, 13, 283000), 'Organic'),
 (251, datetime.datetime(2019, 6, 27, 13, 50, 9, 650000), 'Google'),
 (251, datetime.datetime(2019, 11, 10, 15, 49, 40, 190000), 'Organic'),
 (251, datetime.datetime(2019, 5, 5, 13, 30, 8, 260000), 'Google'),
 (251, datetime.datetime(2019, 8, 21, 13, 34, 23, 947000), 'Facebook'),
 (251, datetime.datetime(2019, 10, 21, 13, 6, 43, 27000), 'Naver'),
 (251, datetime.datetime(2019, 6, 6, 12, 35, 31, 260000), 'Instagram'),
 (251, datetime.datetime(2019, 11, 5, 16, 29, 17, 403000), 'Youtube'),
 (251, datetime.datetime(2019, 7, 27, 13, 33, 2, 323000), 'Google'),
 (251, datetime.datetime(2019, 11, 18, 16, 24, 2), 'Facebook'),
 (251, datetime.datetime(2019, 8, 27, 12, 21, 19, 190000), 'Naver'),
 (251, datetime.datetime(2019, 10, 15, 12, 57, 35, 127000), 'Instagram'),
 (251, datetime.datetime(2019, 5, 21, 12, 17, 36, 223000), 'Instagram'),
 (251, datetime.datetime(2019, 11, 11, 14, 7, 44, 547000), 'Instagram'),
 (251, datetime.datetime(2019, 5, 9, 11, 54, 21, 527000), 'Youtube'),
 (251, datetime.datetime(2019, 10, 24, 13, 19, 58, 673000), 'Google'),
 (251, datetime.datetime(2019, 10, 31, 13, 59, 2, 907000), 'Naver'),
 (251, datetime.datetime(2019, 6, 29, 13, 38, 34, 300000), 'Instagram'),
 (251, datetime.datetime(2019, 8, 12, 12, 46, 55, 367000), 'Instagram'),
 (251, datetime.datetime(2019, 10, 29, 13, 47, 47, 353000), 'Facebook'),
 (251, datetime.datetime(2019, 9, 25, 13, 29, 38, 347000), 'Instagram'),
 (251, datetime.datetime(2019, 8, 13, 12, 22, 28, 127000), 'Instagram'),
 (251, datetime.datetime(2019, 9, 3, 16, 12, 24), 'Google'),
 (251, datetime.datetime(2019, 10, 22, 13, 21, 42, 390000), 'Organic'),
 (251, datetime.datetime(2019, 9, 3, 14, 46, 40, 353000), 'Organic'),
 (251, datetime.datetime(2019, 9, 10, 12, 56, 17, 543000), 'Facebook'),
 (251, datetime.datetime(2019, 8, 5, 12, 37, 58, 720000), 'Organic'),
 (251, datetime.datetime(2019, 10, 5, 15, 6, 28, 717000), 'Youtube'),
 (251, datetime.datetime(2019, 6, 21, 12, 57, 52, 737000), 'Naver'),
 (251, datetime.datetime(2019, 11, 22, 17, 55, 35), 'Facebook'),
 (251, datetime.datetime(2019, 9, 24, 15, 4, 54, 267000), 'Instagram'),
 (251, datetime.datetime(2019, 11, 26, 16, 54, 19), 'Google'),
 (251, datetime.datetime(2019, 8, 18, 13, 38, 14, 420000), 'Organic'),
 (251, datetime.datetime(2019, 7, 8, 12, 53, 49, 693000), 'Organic'),
 (251, datetime.datetime(2019, 7, 13, 13, 16, 19, 803000), 'Youtube'),
 (251, datetime.datetime(2019, 7, 19, 16, 1, 16, 17000), 'Naver'),
 (251, datetime.datetime(2019, 6, 4, 13, 11, 34, 537000), 'Organic'),
 (251, datetime.datetime(2019, 10, 13, 15, 57, 9, 387000), 'Naver'),
 (251, datetime.datetime(2019, 7, 19, 17, 40, 18), 'Instagram'),
 (251, datetime.datetime(2019, 7, 19, 17, 41, 51), 'Instagram'),
 (251, datetime.datetime(2019, 5, 20, 12, 59, 25, 773000), 'Naver'),
 (251, datetime.datetime(2019, 6, 17, 13, 13, 3, 103000), 'Instagram'),
 (251, datetime.datetime(2019, 8, 16, 13, 54, 53, 113000), 'Instagram'),
 (251, datetime.datetime(2019, 11, 8, 14, 56, 39, 267000), 'Youtube'),
 (251, datetime.datetime(2019, 7, 2, 14, 56, 39, 963000), 'Organic'),
 (251, datetime.datetime(2019, 8, 21, 13, 37, 4, 953000), 'Google'),
 (251, datetime.datetime(2019, 6, 14, 13, 19, 42, 297000), 'Organic'),
 (251, datetime.datetime(2019, 7, 17, 12, 44, 32, 63000), 'Organic'),
 (251, datetime.datetime(2019, 5, 16, 12, 31, 56, 140000), 'Instagram'),
 (251, datetime.datetime(2019, 8, 9, 13, 19, 19, 580000), 'Organic'),
 (251, datetime.datetime(2019, 10, 28, 15, 23, 22, 480000), 'Google'),
 (251, datetime.datetime(2019, 11, 9, 15, 23, 15, 843000), 'Youtube'),
 (251, datetime.datetime(2019, 11, 25, 14, 31, 24), 'Organic'),
 (251, datetime.datetime(2019, 7, 14, 14, 34, 33, 657000), 'Youtube'),
 (251, datetime.datetime(2019, 8, 23, 14, 0, 1, 60000), 'Facebook'),
 (251, datetime.datetime(2019, 7, 26, 12, 52, 22, 50000), 'Organic'),
 (251, datetime.datetime(2019, 9, 20, 13, 52, 45, 850000), 'Naver'),
 (251, datetime.datetime(2019, 5, 12, 12, 46, 57, 153000), 'Youtube'),
 (251, datetime.datetime(2019, 8, 20, 13, 33, 0, 347000), 'Facebook'),
 (251, datetime.datetime(2019, 7, 29, 13, 6, 27, 130000), 'Facebook'),
 (251, datetime.datetime(2019, 6, 2, 13, 19, 44, 780000), 'Facebook'),
 (251, datetime.datetime(2019, 5, 6, 12, 36, 54, 80000), 'Youtube'),
 (251, datetime.datetime(2019, 11, 23, 15, 34, 30), 'Google'),
 (251, datetime.datetime(2019, 7, 19, 17, 43, 51), 'Youtube'),
 (251, datetime.datetime(2019, 7, 24, 12, 54, 51, 497000), 'Google'),
 (251, datetime.datetime(2019, 10, 23, 13, 42, 59, 783000), 'Youtube'),
 (251, datetime.datetime(2019, 8, 8, 12, 7, 18, 430000), 'Instagram'),
 (251, datetime.datetime(2019, 11, 17, 14, 36, 52), 'Youtube'),
 (251, datetime.datetime(2019, 7, 26, 12, 47, 35, 500000), 'Instagram'),
 (251, datetime.datetime(2019, 9, 8, 13, 44, 0, 730000), 'Instagram'),
 (251, datetime.datetime(2019, 9, 15, 13, 40, 54, 840000), 'Organic'),
 (251, datetime.datetime(2019, 9, 9, 12, 30, 40, 303000), 'Naver'),
 (251, datetime.datetime(2019, 5, 18, 12, 32, 12, 420000), 'Youtube'),
 (251, datetime.datetime(2019, 6, 23, 12, 33, 2, 350000), 'Facebook'),
 (251, datetime.datetime(2019, 6, 24, 12, 20, 55, 627000), 'Naver'),
 (251, datetime.datetime(2019, 9, 29, 14, 1, 37, 303000), 'Instagram'),
 (251, datetime.datetime(2019, 10, 27, 12, 55, 38, 563000), 'Instagram'),
 (251, datetime.datetime(2019, 9, 11, 13, 9, 50, 40000), 'Google'),
 (251, datetime.datetime(2019, 5, 8, 12, 27, 53, 360000), 'Organic'),
 (251, datetime.datetime(2019, 6, 9, 12, 58, 28, 37000), 'Naver'),
 (251, datetime.datetime(2019, 9, 12, 13, 34, 36, 337000), 'Facebook'),
 (251, datetime.datetime(2019, 6, 1, 18, 59, 41), 'Instagram'),
 (251, datetime.datetime(2019, 6, 1, 12, 53, 38, 227000), 'Naver'),
 (251, datetime.datetime(2019, 8, 4, 13, 53, 54, 553000), 'Instagram'),
 (251, datetime.datetime(2019, 5, 17, 13, 6, 3, 367000), 'Youtube'),
 (251, datetime.datetime(2019, 9, 18, 13, 37, 0, 210000), 'Naver'),
 (251, datetime.datetime(2019, 11, 21, 15, 44, 1), 'Naver'),
 (251, datetime.datetime(2019, 9, 17, 12, 23, 56, 137000), 'Youtube'),
 (251, datetime.datetime(2019, 7, 10, 12, 41, 56, 653000), 'Instagram'),
 (251, datetime.datetime(2019, 10, 3, 14, 57, 24, 417000), 'Organic'),
 (251, datetime.datetime(2019, 9, 7, 14, 50, 41, 860000), 'Instagram'),
 (251, datetime.datetime(2019, 7, 17, 16, 53, 22), 'Google'),
 (251, datetime.datetime(2019, 7, 3, 12, 48, 27, 257000), 'Organic'),
 (251, datetime.datetime(2019, 7, 19, 17, 38, 53), 'Organic'),
 (251, datetime.datetime(2019, 6, 12, 13, 13, 36, 663000), 'Organic'),
 (251, datetime.datetime(2019, 6, 7, 14, 13, 30, 970000), 'Google'),
 (251, datetime.datetime(2019, 7, 2, 13, 19, 33, 543000), 'Facebook'),
 (251, datetime.datetime(2019, 8, 1, 12, 56, 52, 543000), 'Google'),
 (251, datetime.datetime(2019, 7, 22, 13, 19, 23, 447000), 'Youtube'),
 (251, datetime.datetime(2019, 10, 2, 14, 51, 24, 390000), 'Youtube'),
 (251, datetime.datetime(2019, 11, 8, 14, 52, 52, 620000), 'Youtube'),
 (251, datetime.datetime(2019, 6, 28, 13, 15, 23, 967000), 'Youtube'),
 (251, datetime.datetime(2019, 8, 14, 12, 10, 21, 790000), 'Instagram'),
 (251, datetime.datetime(2019, 8, 7, 12, 42, 7, 713000), 'Facebook'),
 (251, datetime.datetime(2019, 5, 29, 12, 33, 2, 777000), 'Instagram'),
 (251, datetime.datetime(2019, 5, 2, 13, 6, 12, 47000), 'Instagram'),
 (251, datetime.datetime(2019, 5, 11, 12, 42, 13, 727000), 'Facebook'),
 (251, datetime.datetime(2019, 10, 8, 12, 52, 10, 823000), 'Instagram')]

숙제

1. 사용자별 처음과 마지막 채널 찾기

2. Gross revenue가 가장 큰 사용자 ID 10개 찾기

3. 월별 NPS 계산하기

In [29]:
%%sql

Select userid,
max(case when rn1 = 1 then channel end) first_touch,
max(case when rn2 = 1 then channel end) last_touch
from (
  select userid, channel,
  (row_number() over (partition by A.userid order by B.ts asc)) as rn1,
  (row_number() over (partition by A.userid order by B.ts desc)) as rn2
  from raw_data.user_session_channel as A
  join raw_data.session_timestamp as B on A.sessionid = B.sessionid
)
group by 1
having userid = 251;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(251, 'Facebook', 'Google')]

In [31]:
%%sql

select userid, sum(C.amount) as Gross_revenue
from raw_data.user_session_channel as A
join raw_data.session_timestamp as B on A.sessionid = B.sessionid
join raw_data.session_transaction as C on A.sessionid = C.sessionid
group by userid
order by Gross_revenue desc
limit 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(989, 743),
 (772, 556),
 (1615, 506),
 (654, 488),
 (1651, 463),
 (973, 438),
 (262, 422),
 (1099, 421),
 (2682, 414),
 (891, 412)]

In [35]:
%%sql

select * from raw_data.nps
limit 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
10 rows affected.

[(2, datetime.datetime(2019, 1, 2, 3, 47, 26), 9),
 (4, datetime.datetime(2019, 1, 4, 5, 2, 11), 10),
 (5, datetime.datetime(2019, 1, 4, 18, 2, 53), 1),
 (7, datetime.datetime(2019, 1, 5, 13, 45, 47), 0),
 (9, datetime.datetime(2019, 1, 5, 22, 36, 38), 6),
 (10, datetime.datetime(2019, 1, 6, 13, 22, 47), 10),
 (15, datetime.datetime(2019, 1, 7, 14, 40, 17), 3),
 (16, datetime.datetime(2019, 1, 7, 2, 38, 46), 1),
 (18, datetime.datetime(2019, 1, 7, 7, 1, 43), 1),
 (19, datetime.datetime(2019, 1, 7, 10, 57, 15), 0)]

In [37]:
%%sql

select month,
round((promoters-detractors)::float/total_count*100,2) as overall_nps
from (
  select left(created_at, 7) as month,
  count(case when score >= 9 then 1 end) as promoters,
  count(case when score <= 6 then 1 end) as detractors,
  count(1) as total_count
  from raw_data.nps
  group by month
);

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
12 rows affected.

[('2019-05', 54.52),
 ('2019-06', 65.02),
 ('2019-07', 64.51),
 ('2019-09', 37.95),
 ('2019-10', 53.29),
 ('2019-01', 2.36),
 ('2019-02', 30.54),
 ('2019-03', 52.91),
 ('2019-04', 53.0),
 ('2019-08', 67.71),
 ('2019-11', 61.29),
 ('2019-12', 65.99)]