<a href="https://colab.research.google.com/github/hhwwan/Programmers_Dev_Cource/blob/main/Redshift_Serverless_%ED%85%8C%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%load_ext sql

In [2]:
!pip install SQLAlchemy==1.4.47
!pip install ipython-sql==0.4.1

Requirement already satisfied: SQLAlchemy==1.4.47 in /usr/local/lib/python3.10/dist-packages (1.4.47)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.47) (3.1.1)
Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.4.47)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.17.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (75.1.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.48)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.18.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)

*ID와* PW와 호스트이름을 자신의 것으로 변경. 아래는 예로 동작하지 않음

In [3]:
%sql postgresql://admin:Aehdghks42!@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev

### Redshift Schema 설정

In [4]:
%%sql

CREATE SCHEMA raw_data;
CREATE SCHEMA analytics;
CREATE SCHEMA adhoc;
CREATE SCHEMA pii;

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateSchema) Schema "raw_data" already exists

[SQL: CREATE SCHEMA raw_data;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [6]:
%%sql

select * from pg_namespace;

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
14 rows affected.

[('pg_toast', 1, None),
 ('pg_internal', 1, None),
 ('catalog_history', 1, None),
 ('pg_mv', 1, None),
 ('pg_automv', 1, None),
 ('pg_auto_copy', 1, None),
 ('pg_s3', 1, None),
 ('pg_catalog', 1, '{rdsdb=UCDA/rdsdb,=U/rdsdb}'),
 ('public', 1, '{rdsdb=UCDA/rdsdb,=UC/rdsdb}'),
 ('information_schema', 1, '{rdsdb=UCDA/rdsdb,=U/rdsdb}'),
 ('raw_data', 100, None),
 ('analytics', 100, None),
 ('adhoc', 100, None),
 ('pii', 100, None)]

### Redshift User 설정

In [7]:
%%sql

CREATE USER donghwan PASSWORD 'Aehdghks42!';

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [8]:
%%sql

select * from pg_user;

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
4 rows affected.

[('rdsdb', 1, True, True, True, '********', 'infinity', None),
 ('IAM:RootIdentity', 101, True, True, False, '********', None, None),
 ('admin', 100, True, True, False, '********', 'infinity', None),
 ('donghwan', 102, False, False, False, '********', None, None)]

### Redshift Group 설정

In [9]:
%%sql

CREATE GROUP analytics_users;
CREATE GROUP pii_users;

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [10]:
%%sql

CREATE GROUP analytics_authors;
ALTER GROUP analytics_authors ADD USER donghwan;

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [11]:
%%sql

ALTER GROUP analytics_users ADD USER donghwan;
ALTER GROUP pii_users ADD USER donghwan;

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

### Redshift Role 설정

In [12]:
%%sql

CREATE ROLE staff;
CREATE ROLE manager;
CREATE ROLE external;

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.

[]

In [13]:
%%sql

GRANT ROLE staff TO donghwan;   -- keeyong 대신에 다른 역할(Role)을 지정 가능
GRANT ROLE staff TO ROLE manager;

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [14]:
%%sql

 select * from SVV_ROLES;

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
8 rows affected.

[(106009, 'sys:operator', 'rdsdb', None),
 (106010, 'sys:monitor', 'rdsdb', None),
 (106011, 'sys:dba', 'rdsdb', None),
 (106012, 'sys:secadmin', 'rdsdb', None),
 (106013, 'sys:superuser', 'rdsdb', None),
 (110718, 'staff', 'admin', None),
 (110719, 'manager', 'admin', None),
 (110720, 'external', 'admin', None)]

### COPY 명령으로 테이블 만들기

In [5]:
%%sql

CREATE TABLE raw_data.user_session_channel (
   userid integer ,
   sessionid varchar(32) primary key,
   channel varchar(32)
);

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [7]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.user_session_channel
FROM 's3://donghwan-test-bucket/test-data/user_session_channel.csv'
credentials 'aws_iam_role=arn:aws:iam::490004620569:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [8]:
%%sql

SELECT * FROM raw_data.user_session_channel LIMIT 10;

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(599, '6bb56208f672af0dd65451f869fedfd9', 'Naver'),
 (785, '32e0bd1497aa43e02a42f47d9d6515ad', 'Organic'),
 (702, '012d9fe15b2493f21902cd55603382ec', 'Organic'),
 (278, '968c9b4f09cbb7d7925f38aea3484111', 'Instagram'),
 (643, 'fbaafc6ec0f0e70f1472122178b4a1a1', 'Facebook'),
 (676, 'a29a5ba2cb7bdeabba22de8c83321b46', 'Google'),
 (810, '39d929972619274cc9066307f707d002', 'Instagram'),
 (260, '73741ea570def1d114a9ac9bb6726916', 'Google'),
 (64, 'd550216af6333c3ef7ccded988557b49', 'Instagram'),
 (945, '0a4dc6dae338c9cb08947c07581f77a2', 'Youtube')]

In [9]:
%%sql

CREATE TABLE raw_data.session_timestamp (
   sessionid varchar(32) primary key,
   ts timestamp
);

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [10]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.session_timestamp
FROM 's3://donghwan-test-bucket/test-data/session_timestamp.csv'
credentials 'aws_iam_role=arn:aws:iam::490004620569:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [11]:
%%sql

SELECT * FROM raw_data.session_timestamp LIMIT 10;

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[('95688ba636a4720a85b3634acfec8cdd', datetime.datetime(2019, 5, 5, 18, 11, 47, 703000)),
 ('555183669058fb273008595a9393d628', datetime.datetime(2019, 5, 5, 22, 38, 11, 127000)),
 ('58b4095fb5335282cc3fde57c643da38', datetime.datetime(2019, 5, 11, 19, 14, 54, 227000)),
 ('25b07af81d8c74341f00dc139652fdb0', datetime.datetime(2019, 5, 14, 14, 52, 52, 693000)),
 ('315f006f691ef2e689125614ea22cc61', datetime.datetime(2019, 5, 15, 0, 40, 23)),
 ('212ab20dbdf4191cbcdcf015511783f4', datetime.datetime(2019, 5, 17, 15, 27, 39, 693000)),
 ('0ebefbe6a3b4e5e0d786c26affc419ad', datetime.datetime(2019, 5, 21, 14, 48, 25, 240000)),
 ('6591d327f6f731e589b0e869adadf940', datetime.datetime(2019, 5, 22, 22, 52, 25)),
 ('342b5fe6486788799659c39bbfc3fa02', datetime.datetime(2019, 5, 23, 14, 36, 37, 587000)),
 ('96e76211d21b66fbdaf1a05498b4417a', datetime.datetime(2019, 5, 23, 16, 22, 39, 847000))]

In [12]:
%%sql

CREATE TABLE raw_data.session_transaction (
    sessionid varchar(32) primary key,
    refunded boolean,
    amount int
)

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [13]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.session_transaction
FROM 's3://donghwan-test-bucket/test-data/session_transaction.csv'
credentials 'aws_iam_role=arn:aws:iam::490004620569:role/redshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [14]:
%%sql

SELECT * FROM raw_data.session_transaction LIMIT 10;

 * postgresql://admin:***@default-workgroup.490004620569.us-west-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[('00029153d12ae1c9abe59c17ff2e0895', False, 85),
 ('008909bd27b680698322c750c400e4b1', False, 13),
 ('0107acb41ef20db2289d261d4e34fd38', False, 16),
 ('018544a2c48077d2cc3ce3278ab1e805', False, 39),
 ('020c38173caff02033564200e0288aa9', False, 61),
 ('029591145fad252b28d844d823097400', False, 13),
 ('03190309cbcd7161a426abd4782bdcd2', False, 75),
 ('03a13aa6921aed989b31d92dc73b391a', False, 129),
 ('04215c1ad3aaff3ed175446d2ea3c0f2', False, 99),
 ('049b8c570e6cc662b4a3d7e3c86e236f', False, 24)]

### analytics 테스트 테이블 만들기

In [ ]:
%%sql

CREATE TABLE analytics.mau_summary AS
SELECT
  TO_CHAR(A.ts, 'YYYY-MM') AS month,
  COUNT(DISTINCT B.userid) AS mau
FROM raw_data.session_timestamp A
JOIN raw_data.user_session_channel B ON A.sessionid = B.sessionid
GROUP BY 1
ORDER BY 1 DESC;

### 사용자 그룹 권한 설정하기

#### analytics_authors

In [ ]:
%%sql

GRANT ALL ON SCHEMA analytics TO GROUP analytics_authors;
GRANT ALL ON ALL TABLES IN SCHEMA analytics TO GROUP analytics_authors;

GRANT ALL ON SCHEMA adhoc to GROUP analytics_authors;
GRANT ALL ON ALL TABLES IN SCHEMA adhoc TO GROUP analytics_authors;

GRANT USAGE ON SCHEMA raw_data TO GROUP analytics_authors;
GRANT SELECT ON ALL TABLES IN SCHEMA raw_data TO GROUP analytics_authors;

#### analytics_users

In [ ]:
%%sql

GRANT USAGE ON SCHEMA analytics TO GROUP analytics_users;
GRANT SELECT ON ALL TABLES IN SCHEMA analytics TO GROUP analytics_users;

GRANT ALL ON SCHEMA adhoc to GROUP analytics_users;
GRANT ALL ON ALL TABLES IN SCHEMA adhoc TO GROUP analytics_users;

GRANT USAGE ON SCHEMA raw_data TO GROUP analytics_users;
GRANT SELECT ON ALL TABLES IN SCHEMA raw_data TO GROUP analytics_users;

#### pii_users

In [ ]:
%%sql

GRANT USAGE ON SCHEMA pii TO GROUP pii_users;
GRANT SELECT ON ALL TABLES IN SCHEMA pii TO GROUP pii_users;

#### keeyong으로 로그인해서 raw_data 테이블을 수정하려 시도해보기

In [ ]:
%%sql

ALTER USER keeyong PASSWORD 'keeyongHan1!'

 * postgresql://admin:***@default.521227329883.us-west-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%sql postgresql://keeyong:keeyongHan1!@default.521227329883.us-west-2.redshift-serverless.amazonaws.com:5439/dev

In [ ]:
%%sql

DELETE FROM raw_data.user_session_channel;

   postgresql://admin:***@default.521227329883.us-west-2.redshift-serverless.amazonaws.com:5439/dev
 * postgresql://keeyong:***@default.521227329883.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.InsufficientPrivilege) permission denied for relation user_session_channel

[SQL: DELETE FROM raw_data.user_session_channel;]
(Background on this error at: https://sqlalche.me/e/14/f405)

### Redshift Spectrum 테스트

In [ ]:
%%sql

-- AWSGlueConsoleFullAccess
CREATE EXTERNAL SCHEMA external_schema
from data catalog
database 'myspectrum_db'
iam_role 'arn:aws:iam::521227329883:role/redshift.read.s3'
create external database if not exists;

 * postgresql://admin:***@default.521227329883.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.DuplicateSchema) Schema "external_schema" already exists

[SQL: -- AWSGlueConsoleFullAccess
CREATE EXTERNAL SCHEMA external_schema
from data catalog
database 'myspectrum_db'
iam_role 'arn:aws:iam::521227329883:role/redshift.read.s3'
create external database if not exists;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql

CREATE TABLE raw_data.user_property AS
SELECT
  userid,
  CASE WHEN cast (random() * 2 as int) = 0 THEN 'male' ELSE 'female' END gender,
  (CAST(random() * 50 as int)+18) age
FROM (
  SELECT DISTINCT userid
  FROM raw_data.user_session_channel
);

In [ ]:
%%sql

CREATE EXTERNAL TABLE external_schema.user_session_channel(
   userid integer ,
   sessionid varchar(32),
   channel varchar(32)
)
row format delimited
fields terminated by ','
stored as textfile
location 's3://keeyong-test-bucket/usc/';

In [ ]:
%%sql

SELECT gender, COUNT(1)
FROM external_schema.user_session_channel usc
JOIN raw_data.user_property up ON usc.userid = up.userid
GROUP BY 1;

 * postgresql://admin:***@default.521227329883.us-west-2.redshift-serverless.amazonaws.com:5439/dev
2 rows affected.

[('female', 50154), ('male', 51366)]

In [ ]:
%%sql

vacuum full